.newsletter-content {
    .wpcf7-form {
        .subscribe-form {
            align-items: flex-start;
        }
        .btn-subscribe {
            width: auto;
        }
        .subscribe-input {
            width: 100%;
        }
        .wpcf7-spinner {
            position: absolute;
            right: 70px;
        }
        .wpcf7-not-valid-tip {
            font-size: 12px;
            padding: 2px 6px;
            text-align: left;
        }
        .wpcf7-response-output {
            font-size: 12px;
            max-width: 380px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding: 0;
            padding: 5px;
            margin-top: 10px;
            font-weight: bold;
        }
        &.invalid {
            .wpcf7-response-output {
                background-color: #ffecba;
            }
        }
        &.sent {
            .wpcf7-response-output {
                background-color: #bbeabf;
            }
        }
    }
}

.contact-form-box {
    #captchaAnswer {
        max-width: 150px;
    }
    .wpcf7-response-output {
        display: none;
    }
    .wpcf7-not-valid-tip {
        font-size: 14px;
    }
}