header {
    #menu-header-menu {
        .menu-item {
            .nav-link {
                .parent_menu_item {
                    padding-right: .6rem;
                }
            }
        }
    }
}
.btn-globe {
    display: inline-flex;
    align-items: center;
}
.globe-card-content {
    .cta-group {
        @media (max-width: 991px) {
            justify-content: center;
        }
    }
}
.home-bottom-grid {
    row-gap: 0.5rem;
}
.switching-grid-section {
    padding-bottom: 3rem;
}
.testimonials-box {
    position: relative;
    #testimonialDots {
        bottom: 15px;
    }
}
.ecobloom-faq-accordion {
    .accordion-body {
        a {
            color: var(--accent-pink);
            font-weight: 700;
        }
        p {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}