header {
    #menu-header-menu {
        .menu-item {
            .nav-link {
                .parent_menu_item {
                    padding-right: .6rem;
                }
            }
        }
    }
}
.btn-globe {
    display: inline-flex;
    align-items: center;
}
.globe-card-content {
    .cta-group {
        @media (max-width: 991px) {
            justify-content: center;
        }
    }
}
.home-bottom-grid {
    row-gap: 0.5rem;
}
.switching-grid-section {
    padding-bottom: 3rem;
}
.testimonials-box {
    position: relative;
    #testimonialDots {
        bottom: 15px;
    }
}
.ecobloom-faq-accordion {
    .accordion-body {
        a {
            color: var(--accent-pink);
            font-weight: 700;
        }
        p {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
.default-page {
    .body-content {
        h2,
        h3 {
            --bs-text-opacity: 1;
            color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity));
            font-weight: 700;
            margin-bottom: 1rem;
            &:not(:first-child) {
                margin-top: 1.5rem;
            }
        }
        p,
        ul {
            --bs-text-opacity: 1;
            color: var(--bs-secondary-color);
            &:last-child {
                margin-bottom: 0;
            }
        }
        a {
            color: var(--accent-pink);
            font-weight: 700;
        }
    }
}
.blog-grid {
    .blog-content {
        .blog-meta {
            flex-flow: wrap;
            span.dot {
                background: var(--bs-secondary);
                height: 6px;
                width: 6px;
                border-radius: 100px;
            }
            a {
                color: var(--bs-secondary);
                text-decoration: none;
                &:hover {
                    color: var(--bs-primary);
                }
            }
        }
    }
}
body.single-post {
    .page-hero-section {
        .badge {
            a {
                color: #be185d;
                text-decoration: none;
                &:hover {
                    color: var(--bs-primary);
                }
            }
        }
    }
    .blog-details-content {
        .blog-post-meta {
            a {
                color: var(--bs-secondary);
                text-decoration: none;
                &:hover {
                    color: var(--bs-primary);
                }
            }
        }
    }
    .input-group {
        input.form-control {
            &:focus {
                outline: none;
                box-shadow: none;
            }
        }
    }
}